@using IKEA.BLL.CustomModels.Employees
@using IKEA.DAL.Entities.Departmetns
@model EmployeeToCreateDto

@{
    ViewData["Title"] = "Create";
    var Departments = ViewData["Departments"] as IEnumerable<DepartmentToReturnDto>;
}

<h1 class="col-8 my-4">Create A New Employee</h1>

<form action="/Employee/Create" method="post" class="row justify-content-center align-items-center col-8" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label class="from-label" for="Name">Name</label>
            <input type="text" name="Name" id="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>

        <label class="from-label">Address</label>
        <input type="text" name="Address" id="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>

        <label class="from-label">Email</label>
        <input type="email" name="Email" id="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>


        <label class="from-label">Phone Number</label>
        <input type="tel" name="PhoneNumber" id="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

        <label class="from-label">Age</label>
        <input type="number" name="Age" id="Age" class="form-control" min="0" />
        <span asp-validation-for="Age" class="text-danger"></span>

        <label class="from-label">Salary</label>
        <input type="number" name="Salary" id="Salary" class="form-control" step="0.01" min="0" placeholder="Enter salary amount" />
        <span asp-validation-for="Salary" class="text-danger"></span>

        <label class="from-label">Hiring Date</label>
        <input type="date" name="HiringDate" id="HiringDate" class="form-control" />
        <span asp-validation-for="HiringDate" class="text-danger"></span>

        <label class="form-label">Gender</label>
        <div>
            <input type="radio" name="Gender" id="Male" value="Male" />
            <label for="Male">Male</label>
        </div>
        <div>
            <input type="radio" name="Gender" id="Female" value="Female" />
            <label for="Female">Female</label>
        </div>

        <span asp-validation-for="Gender" class="text-danger"></span>

        <label class="form-label" for="EmployeeType">Employee Type</label>
        <select name="EmployeeType" id="EmployeeType" class="form-control">
            <option value="">Select Employee Type</option>
            <option value="FullTime">Full-Time</option>
            <option value="PartTime">Part-Time</option>
        </select>
        <span asp-validation-for="EmployeeType" class="text-danger"></span>

        @* Department *@

        <label class="form-label" for="DepartmentId">Department</label>
        <select name="DepartmentId" id="DepartmentId"  class="form-control">
            <option value="@null">Select  Department</option> 
            @if(Departments != null)
            {
                @foreach(var department in Departments)
                {
                    <option value="@department.Id">@department.Name</option>
                }
            }
        </select>
        <span asp-validation-for="EmployeeType" class="text-danger"></span>
        

        <label asp-for="Image" class="from-label"></label>
        <input asp-for="Image" class="form-control"  />
        <span asp-validation-for="Image" class="text-danger"></span>




    </div>

    <div class="mt-3 ms-auto">
        <input type="submit" value="Create" class="btn btn-primary"/> |
        <a href="/Employee/Index">Back To List</a>
    </div>

</form>

@section ValidationScripts {
    <partial name="_ValidationScriptsPartial">
}