@using IKEA.BLL.CustomModels.Employees
@model EmployeeDetailsToReturnDto
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure You Want To Delete?</h1>

<br />
<br />


<div class="card shadow-sm mb-4">
    <div class="card-header bg-dark text-white text-center">
        <h4>Emplyee Details</h4>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="Name" class="form-label">Name</label>
                <input class="form-control" asp-for="Name" readonly>
            </div>
            <div class="col-md-6">
                <label asp-for="Age" class="form-label">Age</label>
                <input class="form-control" asp-for="Age" readonly>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="Salary" class="form-label">Salary</label>
                <input class="form-control" asp-for="Salary" readonly>
            </div>
            <div class="col-md-6">
                <label asp-for="Gender" class="form-label">Gender</label>
                <textarea class="form-control" asp-for="Gender" rows="3" readonly></textarea>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="CreatedBy" class="form-label">Created By</label>
                <input class="form-control" asp-for="CreatedBy" readonly>
            </div>
            <div class="col-md-6">
                <label asp-for="CreatedOn" class="form-label">Created On</label>
                <input class="form-control" asp-for="CreatedOn" readonly>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="LastModifiedBy" class="form-label">Modified By</label>
                <input class="form-control" asp-for="LastModifiedBy" readonly>
            </div>
            <div class="col-md-6">
                <label asp-for="LastModifiedOn" class="form-label">Modified On</label>
                <input class="form-control" asp-for="LastModifiedOn" readonly>
            </div>
        </div>

        <!-- Action Buttons -->
        <form asp-action="Delete" asp-route-id="@Model.Id" method="post" class="text-center mt-4">
            <input type="Submit" value="Delete" class="btn btn-danger"/> |
            <a asp-action="Index" class="btn btn-outline-secondary">
                <i class="fas fa-arrow-left"></i> Cancel
            </a>
        </form>
    </div>
</div>